.title {
  text-align: center;
  padding: 0;
  color: #303952;
  margin: 1em 0 0 0;
}

.container {
  width: 80vw;
  background: #f7d794;
  margin: 3em auto;
  padding: 1em;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
